@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700);
@import url(https://fonts.googleapis.com/css?family=Kaushan+Script);

    *{
    transition-duration: .3s;
    -moz-transition-duration: .3s;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;}
body{
	padding: 0;
	margin:0;
	font-family: "Roboto",sans-serif;
	color: #7B7B7B;
    line-height: 1.6em;
	font-size:14px

}
.bg{
	background-color: rgba(243, 243, 243, 0.45)
} 
.w-50{width: 50%;float: left}
.w-25{width: 25%;float: left}
.w-33{width: 33.33%;float: left}
.w-75{width: 75%;float: left}
.w-25{width: 25%;float: left}
.row{padding: 0 10px}
.section-pad{padding:6% 0 7%}
.align-center{text-align: center !important;float: none !important;margin:0 auto;}
section,footer{
	overflow:hidden;clear: both;}
.btn-custom{background-color: #42b061;color: #fff}
.btn-white{color: #42b061;background-color: #fff;}
.btn-custom:hover{color: #42b061;background-color: #fff;}
.btn-white:hover{background-color: #42b061;color: #fff}
.btn{   
 padding: 12px 25px;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    margin-right: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.28);
}
.container{
    overflow: hidden;}
img{max-width: 100%;display: block;}
.text-center{text-align: center}
.text-right{text-align: right;}
.text-left{text-align: left}

.heading{margin-bottom: 5%;padding:0 10px;}
.heading .title{
    margin-bottom: 0;
    text-transform: uppercase;
    color: #333;    font-size: 30px;
    line-height: 1.2em;
}
.heading p{
    max-width: 40em;
    margin: 0 auto;
    color: #7B7B7B;
    font-size: 14px;}
	
	[class^="flaticon-"]:before, [class*=" flaticon-"]:before, [class^="flaticon-"]:after, [class*=" flaticon-"]:after{margin-left:0 !important}
hr{border-color: rgba(255, 255, 255, 0.33);}
